body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(46, 48, 53) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color:#00A0C6;
  text-decoration:none;
  cursor:pointer;
}

.circle {
  height: 125px;
  width: 125px;
}

.circleContainer {
  position: absolute;
  top: 95px;
  right: 85px;
  height: 125px;
  width: 125px;
}

.title {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.loginButton {
  position: absolute;
  top: 16px;
  right: 30px;
}

.logoutButton {
  position: absolute;
  top: 16px;
  right: 30px;
}

.newsImg {
  width: 600px;
  height: 400px;
}

.newsCard {
  width: 700px;
  height: 500px;
}

.sidebar {
  position: absolute;
  height: 100%;
}

.search {
  position: absolute;
  right: 150px;
  top: 20px;
}

.logo {
  position: absolute;
  width: 12%;
  height: auto;
  left: 80px;
  top: 18px;
}

.newsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 15px;
  padding-bottom: 30px;
}

#news {
  margin-top: 60px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255, 0.1);
}

.popularContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 15px;
}

.popularCard {
  cursor: pointer;
  word-wrap: break-word;
}

#popular {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255, 0.1);
}

.searchCard {
  cursor: pointer;
  width: 205px;
  height: 350px;
  word-wrap: break-word;
  margin: 30px;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

#search {
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255, 0.1);
}

.coverImg {
  height: 400px;
  width: 300px;
  margin-left: 15px;
  margin-right: 15px;
}

.searchImg {
  height: 300px;
  width: 205px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

.searchTitle {
  color: white;
  text-align: center;
  font-size: 16px;
  padding-bottom: 60px;
}

.gameImg {
  padding-top: 10px;
}

.gameContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.gameInfo {
  width: 1070px;
  padding-left: 20px;
  color: white;
}

#game {
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255, 0.1);
}


.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #c6cad1;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #b7c8e5;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(0, 0, 0, 0.8);
  padding: 2.5em 1.5em 0;
  font-size: 2em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: white;
}

.bm-item:hover {
  color:#00A0C6;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}
